
body {
    background:linear-gradient(#8fa4ea 0%, #151f42 100%);
    background-attachment: fixed;
}


#offcanvasSideBar {

}

.offcanvas-btn {
    display: block;
}

@media (min-width: 768px) {
    #home, #listas, #buscador, #descargas {
        display: none;
    }
    .footer_music{
        width: 76%;
        left: 24%;
    }
    .offcanvas-btn {
        display: None;
    }
    .col-sm-3 {
        position: fixed;
        height: 100%;
    }
    .columna_derecha{
        padding-left: 35%;
        width: 130%;
    }
}


@media (max-width: 600px) {

    #home, #descargas, #listas, #buscador{
        display: block;
    }
    .col-sm-3 {
        display: none;
    }
    .footer_music{
        width: 100%;
    }
    .content_box_buscador{
        padding-left: 6%;
    }
}

@media (max-width: 768px) {

    #home, #descargas, #listas, #buscador{
        display: block;
    }
    .col-sm-3 {
        display: none;
    }
    .footer_music{
        width: 100%;
        left: 0px;
    }
    .offcanvas-btn {
        display: block;
    }

}

.header3{
    position:fixed;
    width:100%;
    z-index:11;
}


.main_row{
    padding-bottom: 70px;
}
.row_music {
    display:flex;
    flex-wrap: wrap;
}

.row_music::after {
    content: "";
    clear: both;
    display: table;
}

.column_music {
    float: left;
    width: 180px;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 40px;
    transition: 2s;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: relative;
    top: -45%;
    left:30%;

}

.song_title {
    margin-top: -50px;
}


/*-----------------------------------------------FOOTER-----------------------------------------------*/
.footer_music {

    border-radius: 100px;
    background-color: #7683e0;
    position: fixed;
    bottom: 0;/*color del fondo del footer*/
    font-size: 12px;
    text-align: center;
    display: block;
    height: 70px;
    z-index: 1; /* Trae al frente los elementos */

}



#reproductor_pause{

    display:none;
}

.footer_nombres{
    margin-top: 0px;

    font-size: 30px;
    color: white;
}

.grid-container_footer{

    height: 85px;
    display: grid;
    grid-template-columns: 25% 46% 10% 20% ;

}

#footer_foto {
    border-radius: 50% !important;
    padding-top:6px;
}

#artista{
    font-family: "Candara Light";
}

#cancion{

    font-family: "Arial Rounded MT Bold";
}


#play_boton{
    margin-top: 15px;
    font-size: 50px;
    color: white;
}

#pause_boton{
    margin-top: 15px;
    font-size: 50px;
    color: white;
}

#like{
    margin-top: 15px;
    font-size: 50px;
    color: white;
}

#no_like{
    margin-top: 15px;
    font-size: 50px;
    color: white;
    
}
/*----------------------------------------------------------------------------------------------*/


/*Le añadimos un hover al reproductor*/
.column_music:hover .middle{
    opacity: 1;
}


.dropbtn {
    background-color: #151f42;
    color: white;
    border-radius: 50% !important;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 5px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #8fa4ea;
    opacity: 6;
}


.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown a:hover {
    background-color: #8fa4ea;
    opacity: 6;
}

.show {display: block;}




/*-----------------------------------------------BUSCADOR.HTML-----------------------------------------------*/

.contenedor__todo {
    vertical-align: center;
    padding-left: 0%;
    padding-right: 20%;
    color: white;
}


#myInput {

    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 113%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}

#myTable th, #myTable td {
    text-align: center; /* Left-align text */
    padding: 12px; /* Add padding */
    font-family: "Arial Rounded MT Bold";
}

#myTable tr {
    /* Add a bottom border to all table rows */

}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #151f42;
}

.buscador{
    width: 60px;
    border-radius: 50% !important;
}


/*-----------------------------------------------REGISTRO Y SESION-----------------------------------------------*/



#validacion{
    color:red;
    font-size:12px;
    padding: 10px;
    width: 100%;
    margin-top: -19px;
}

